PUBLIC_SUPABASE_URL=https://sthoipusaqampnzxzygg.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN0aG9pcHVzYXFhbXBuenh6eWdnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI4MzUyNTMsImV4cCI6MjA1ODQxMTI1M30.wwJhx8t48zlfVwrFAb96WLkvFwfLn03oQJORZ5tPypM
BREVO_API_KEY=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